.question-body {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: left;
}

.counter {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.counter span {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 24px;
}

.question {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
}
.question p {
    color: #676767;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 30px;
}

.tag-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.separator {
    height: 1px;
    background-color: lightgray;
    margin-top: 10px;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    width: 100%;
}