.question-tag {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 12px;
    background-color: #FFF8F1;
    color: #484848;
    border: 1px solid #FFE9D0;
    border-radius: 3px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0 10px;
    height: 20px;
    line-height: 20px;
}